@import '../../styles/theme';

.InNavigationBar {
  &-container {
    background-color: $color-sky-blue;
    box-shadow: $shadow-dark;
    height: 100%;
    width: 100%;
  }

  &-tile {
    display: block;
    height: $grid-size * 10;
    width: 100%;
  }
}
