@import '../../styles/theme';

.InDashboard {
  &-columns {
    display: flex;
  }

  &-column {
    &HalfWidth {
      flex: 1 1 50%;
    }
  }

  &-subheading {
    @include typography-subheading;
    margin-bottom: $grid-size;
  }

  &-paragraph {
    @include typography-paragraph;
    color: $color-text;
    line-height: 1.25;
  }

  &-paragraphInverted {
    @extend .InDashboard-paragraph;
    color: $color-text-inverted;
  }

  &-paragraphBold {
    @include typography-paragraph-bold;
  }

  &-statusParagraph {
    align-items: center;
    display: flex;

    .InDashboard {
      &-status {
        flex: 0 0 $grid-size;
        height: $grid-size;
        margin-right: $grid-size;
        width: $grid-size;
      }

      &-paragraph {
        flex: 1 1 auto;
      }
    }
  }

  &-tableContainer {
    max-height: 50vh;
    overflow-y: auto;
  }
}
