<div class="InGrid">
  <article class="InCard InCard--color InGrid-item"
           *ngIf="proxySettingsResolved && targetHostSettingsResolved">
    <header class="InCard-header">
      <h2 class="InCard-heading">Information</h2>
    </header>
    <div class="InCard-content">
      <div class="InCard-columnHalfWidth">
        <h3 class="InCard-subheading">Proxy Server</h3>
        <p *ngIf="proxySettings.port"
           class="InCard-paragraph">Proxy is running on port {{ proxySettings.port }}.</p>
        <p *ngIf="!proxySettings.port"
           class="InCard-paragraph">Proxy is not currently running.</p>
      </div>
      <div class="InCard-columnHalfWidth">
        <h3 class="InCard-subheading">Proxy Target</h3>
        <p *ngIf="targetHostSettings.hostname && targetHostSettings.port"
           class="InCard-paragraph">Proxy target is {{ targetHostSettings.hostname }} on port {{ targetHostSettings.port }}.</p>
        <p *ngIf="!targetHostSettings.hostname || !targetHostSettings.port"
           class="InCard-paragraph">Proxy target has not been set.</p>
      </div>
    </div>
  </article>

  <article class="InCard InGrid-item">
    <header class="InCard-header">
      <h2 class="InCard-heading">Requests</h2>
    </header>
    <div class="InCard-content">
      <in-requests-list [requests]="requests"></in-requests-list>
    </div>
  </article>
</div>
