<div class="InGrid">
  <in-card [theme]="'color'"
           class="InGrid-item"
           *ngIf="proxySettingsResolved && targetHostSettingsResolved">
    <span in-card-heading>Information</span>
    <div in-card-content class="InDashboard-columns">
      <div class="InDashboard-columnHalfWidth">
        <h3 class="InDashboard-subheading">Proxy Server</h3>
        <div class="InDashboard-statusParagraph">
          <in-status-indicator class="InDashboard-status"
                               [status]="proxyStatus"></in-status-indicator>
          <p *ngIf="proxySettings.port"
             class="InDashboard-paragraph">Proxy is running on port {{ proxySettings.port }}.</p>
          <p *ngIf="!proxySettings.port"
             class="InDashboard-paragraph">Proxy is not currently running.</p>
        </div>
      </div>
      <div class="InDashboard-columnHalfWidth">
        <h3 class="InDashboard-subheading">Proxy Target</h3>
        <p *ngIf="targetHostSettings.hostname && targetHostSettings.port"
           class="InDashboard-paragraph">Proxy target is {{ targetHostSettings.hostname }} on port {{ targetHostSettings.port }}.</p>
        <p *ngIf="!targetHostSettings.hostname || !targetHostSettings.port"
           class="InDashboard-paragraph">Proxy target has not been set.</p>
      </div>
    </div>
  </in-card>

  <in-card class="InGrid-item">
    <span in-card-heading>Requests</span>
    <div in-card-content>
      <in-requests-list [requests]="requests"></in-requests-list>
    </div>
  </in-card>
</div>
