@import '../../styles/theme';

.InStatusIndicator {
  background-color: $color-grey-slate;
  border: 1px solid $color-white;
  border-radius: 50%;
  box-shadow: $shadow-standard;
  height: 100%;
  width: 100%;

  &.is-positive {
    background-color: $color-green;
  }

  &.is-negative {
    background-color: $color-red;
  }
}
