@import '../../styles/theme';

.InGrid {
  margin: 0 auto;
  max-width: $application-max-width;
  padding: $grid-size * 3;
  padding-bottom: 0;
  width: 100%;

  &-item {
    display: block;
    margin-bottom: $grid-size * 3;
  }
}
