<div class="InTable-container">
  <div class="InTable-headerRow">
    <div class="InTable-headerCell"
         [style.width]="field.width"
         *ngFor="let field of fields">{{ field.label }}</div>
  </div>
  <div class="InTable-body">
    <div class="InTable-row"
         [class.is-highlightable]="showHighlightStyles"
         [ngClass]="getRowClass(model)"
         *ngFor="let model of data; trackBy:identity"
         (click)="onRowClick(model)">
      <div class="InTable-cell"
           *ngFor="let field of fields"
           [class.is-centred]="field.centred"
           [style.width]="field.width">
        {{ getFieldViewValue(field, model) }}
      </div>
    </div>
  </div>
</div>
