<div class="InTable-container">
  <table class="InTable-table">
    <thead>
    <tr class="InTable-headerRow">
      <th class="InTable-headerCell"
          *ngFor="let field of fields">
        {{ field.label }}
      </th>
    </tr>
    </thead>
    <tbody>
    <tr class="InTable-row"
        [class.is-highlightable]="showHighlightStyles"
        [ngClass]="getRowClass(model)"
        *ngFor="let model of data; trackBy:identity"
        (click)="onRowClick(model)">
      <td class="InTable-cell"
          *ngFor="let field of fields">
        {{ getFieldViewValue(field, model) }}
      </td>
    </tr>
    </tbody>
  </table>
</div>
