<table class="InTable">
  <thead>
  <tr class="InTable-headerRow">
    <th class="InTable-headerCell"
        *ngFor="#field of fields">
      {{ field.label }}
    </th>
  </tr>
  </thead>
  <tbody>
  <tr class="InTable-row"
      [class.is-highlightable]="showHighlightStyles"
      [ngClass]="getRowClass(model)"
      *ngFor="#model of data"
      (click)="onRowClick(model)">
    <td class="InTable-cell"
        *ngFor="#field of fields">
      {{ getFieldViewValue(field, model) }}
    </td>
  </tr>
  </tbody>
</table>
