@import '../../styles/theme';

.InTable {
  &-container {
    border-radius: $border-radius-standard;
    overflow: hidden;
    width: 100%;
  }

  &-table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
  }

  &-row {
    &:nth-child(odd) {
      background-color: $color-white-steam;

      &.is-highlightable {
        transition: background-color 400ms ease-in-out;

        &:hover {
          background-color: mix($color-white-steam, $color-sky-blue, 90%);
          cursor: pointer;
        }
      }
    }

    &.is-positive {
      color: $color-green;
    }

    &.is-negative {
      color: $color-red;
    }

    &.is-highlightable {
      transition: background-color 400ms ease-in-out;

      &:hover {
        background-color: mix($color-white, $color-sky-blue, 90%);
        cursor: pointer;
      }
    }

    background-color: $color-white;
  }

  &-headerRow {
    background-color: $color-sky-blue;
    color: $color-white;
  }

  &-cell,
  &-headerCell {
    padding: $grid-size;
  }

  &-cell {
    @include typography-normal;
    color: $color-text;
    word-break: break-word;
  }

  &-headerCell {
    @include typography-normal-bold;
  }
}
