$color-white: rgb(255, 255, 255);
$color-white-steam: rgb(250, 250, 252);
$color-white-smoke: rgb(240, 240, 246);
$color-grey-aluminium: rgb(120, 120, 120);
$color-grey-slate: rgb(80, 80, 80);
$color-black: rgb(0, 0, 0);

$color-sky-blue: rgb(26, 186, 226);
$color-deep-sky-blue: rgb(21, 158, 193);
$color-dark-blue: rgb(13, 94, 115);
$color-cyan: rgb(25, 251, 255);
$color-red: rgb(195, 25, 70);
$color-green: rgb(90, 185, 45);

$color-text-heading: $color-black;
$color-text-heading-inverted: $color-white;
$color-text: transparentize($color-black, 0.3);
$color-text-inverted: transparentize($color-white, 0.3);

$color-shadow-light: transparentize($color-black, .8);
$color-shadow-dark: transparentize($color-black, .6);
