$font-name: 'Work Sans';
$font-base-location: '/resources/fonts';

$font-definitions: (
  Thin: 100,
  ExtraLight: 200,
  Light: 300,
  Regular: 400,
  Medium: 500,
  Semibold: 600,
  Bold: 700,
  ExtraBold: 800,
  Black: 900
);

@each $weight-name, $weight in $font-definitions {
  @font-face {
    font-family: $font-name;
    src: url('#{$font-base-location}/#{$font-name}/#{$weight-name}.woff2') format('woff2');
    font-weight: $weight;
    font-style: normal;
  }
}
