$font-name: 'Source Sans Pro';
$font-base-location: '/resources/fonts';

$font-definitions: (
  ExtraLight: 200,
  Light: 300,
  Regular: 400,
  Semibold: 600,
  Bold: 700,
  Black: 900
);

@each $weight-name, $weight in $font-definitions {
  @font-face {
    font-family: $font-name;
    font-style: normal;
    font-weight: $weight;
    src: url('#{$font-base-location}/#{$font-name}/#{$weight-name}.woff2') format('woff2');
  }

  @font-face {
    font-family: $font-name;
    font-style: italic;
    font-weight: $weight;
    src: url('#{$font-base-location}/#{$font-name}/#{$weight-name}-Italic.woff2') format('woff2');
  }
}
