$font-name: 'Lato';
$font-base-location: '/resources/';

$font-definitions: (
  Hairline: 100,
  Thin: 200,
  Light: 300,
  Regular: 400,
  Medium: 500,
  Semibold: 600,
  Bold: 700,
  Heavy: 800,
  Black: 900
);

@each $weight-name, $weight in $font-definitions {
  @font-face {
    font-family: $font-name;
    src: url('#{$font-base-location}#{$font-name}-#{$weight-name}.ttf') format('truetype');
    font-weight: $weight;
    font-style: normal;
  }

  @font-face {
    font-family: $font-name;
    src: url('#{$font-base-location}#{$font-name}-#{$weight-name}Italic.ttf') format('truetype');
    font-weight: $weight;
    font-style: italic;
  }
}
