* {
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

button {
  background: none;
  font-family: inherit;
  outline: none;
}
