@import 'layout';

$font-sizes: (
  x-large: 22px,
  large: 16px,
  regular: 14px,
  small: 12px
);

@mixin typography-title() {
  font-size: map_get($font-sizes, x-large);
  font-weight: 200;
}

@mixin typography-heading() {
  font-size: map_get($font-sizes, large);
  font-weight: 600;
}

@mixin typography-subheading() {
  font-size: map_get($font-sizes, regular);
  font-weight: 300;
}

@mixin typography-paragraph() {
  font-size: map_get($font-sizes, regular);
  font-weight: 300;
}

@mixin typography-normal() {
  font-size: map_get($font-sizes, regular);
  font-weight: 300;
}

@mixin typography-label() {
  font-size: map_get($font-sizes, small);
  font-weight: 400;
}

@mixin typography-placeholder() {
  font-size: map_get($font-sizes, regular);
  font-weight: 400;
}

@mixin typography-button() {
  font-size: map_get($font-sizes, regular);
  font-weight: 400;
}
