@import 'layout';

@mixin typography-title() {
  font-size: $grid-size-text * 6;
  font-weight: 200;
}

@mixin typography-heading() {
  font-size: $grid-size-text * 5;
  font-weight: 600;
}

@mixin typography-subheading() {
  font-size: $grid-size-text * 4;
  font-weight: 300;
}

@mixin typography-paragraph() {
  font-size: $grid-size-text * 4;
  font-weight: 300;
}

@mixin typography-normal() {
  font-size: $grid-size-text * 4;
  font-weight: 300;
}

@mixin typography-label() {
  font-size: $grid-size-text * 3;
  font-weight: 400;
}

@mixin typography-placeholder() {
  font-size: $grid-size-text * 4;
  font-weight: 400;
}

@mixin typography-button() {
  font-size: $grid-size-text * 4;
  font-weight: 400;
}
