@import 'theme';
@import 'font';
@import 'reset';

body {
  background-color: $color-white-smoke;
  font-family: $font-name, sans-serif;
}

input {
  font-family: $font-name, sans-serif;
}

::-webkit-input-placeholder {
  font-family: $font-name, sans-serif;
}
