@import 'theme';
@import 'font';
@import 'reset';

body {
  background-color: $color-white-smoke;
  font-family: 'Work Sans', sans-serif;
}

::-webkit-input-placeholder {
  font-family: 'Work Sans', sans-serif;
}
