<div class="InGrid">
  <in-card [heading]="isNew ? 'New Rule' : 'Edit Rule'"
           *ngIf="ruleResolved"
           class="InGrid-item">
    <form (ngSubmit)="onSubmit(ruleDetailsForm)"
          #ruleDetailsForm="ngForm">
      <div>
        <in-input type="text"
                  ngControl="url"
                  [(ngModel)]="rule.url"
                  [field]="'url'"
                  [label]="'URL'"></in-input>
      </div>

      <div>
        <in-input type="select"
                  ngControl="method"
                  [(ngModel)]="rule.method"
                  [field]="'method'"
                  [label]="'Method'"
                  [options]="methods"></in-input>

      </div>

      <h2>Response</h2>

      <div>
        <in-input type="number"
                  ngControl="statusCode"
                  [(ngModel)]="rule.statusCode"
                  [field]="'statusCode'"
                  [label]="'Status Code'"></in-input>
      </div>

      <div>
        <label for="ruleBody">Body:</label>
        <textarea id="ruleBody"
                  [(ngModel)]="rule.body"
                  ngControl="body"></textarea>
      </div>

      <div>
        <label for="ruleFile">File:</label>
        {{ rule.file }}
        <input type="file"
               id="ruleFile"
               (change)="setFile($event.target.files)"
               [(ngModel)]="rule.file"
               ngControl="file"/>
      </div>

      <div>
        <in-input type="select"
                  ngControl="type"
                  [(ngModel)]="rule.type"
                  [field]="'type'"
                  [label]="'Type'"
                  [options]="types"></in-input>
      </div>

      <div>
        <in-input type="number"
                  ngControl="latency"
                  [(ngModel)]="rule.latency"
                  [field]="'latency'"
                  [label]="'Latency'"></in-input>

      </div>

      <div class="InRulesDetails-buttons">
        <button class="InButton InButton--positive InRulesDetails-button"
                type="submit">{{ isNew ? 'Create' : 'Save' }}</button>
        <button class="InButton InButton--negative InRulesDetails-button"
                type="button"
                *ngIf="!isNew"
                (click)="onDelete()">Delete</button>
      </div>
    </form>
  </in-card>
</div>
