<div class="InGrid">
  <in-card [heading]="isNew ? 'New Rule' : 'Edit Rule'"
           [messages]="messages"
           *ngIf="ruleResolved"
           class="InGrid-item">
    <form (ngSubmit)="onSubmit(ruleDetailsForm)"
          #ruleDetailsForm="ngForm">
      <div class="InForm-section">
        <h2 class="InForm-sectionHeading">Match</h2>

        <div class="InForm-item">
          <in-input type="text"
                    ngControl="url"
                    [(ngModel)]="rule.url"
                    [inRequired]="true"
                    [field]="'url'"
                    [label]="'URL'"></in-input>
        </div>

        <div class="InForm-item">
          <in-input type="select"
                    ngControl="method"
                    [(ngModel)]="rule.method"
                    [inRequired]="true"
                    [field]="'method'"
                    [label]="'Method'"
                    [options]="methods"></in-input>
        </div>
      </div>

      <div class="InForm-section">
        <h2 class="InForm-sectionHeading">Response</h2>

        <div class="InForm-item">
          <in-input type="button-group"
                    [ngModel]="responseType"
                    (ngModelChange)="responseType = $event; clearResponseType()"
                    [options]="responseTypes"></in-input>
        </div>

        <div class="InForm-item" *ngIf="responseType === 'file'">
          <in-input type="file"
                    ngControl="file"
                    [ngModel]="rule.file"
                    (ngModelChange)="rule.file = $event"
                    [inRequired]="true"
                    [field]="'file'"
                    [label]="'File'"></in-input>
        </div>

        <div class="InForm-item" *ngIf="responseType === 'body'">
          <in-input type="textarea"
                    ngControl="body"
                    [(ngModel)]="rule.body"
                    [inRequired]="true"
                    [field]="'body'"
                    [label]="'Text'"></in-input>
        </div>

        <div class="InForm-item">
          <in-input type="select"
                    ngControl="type"
                    [(ngModel)]="rule.type"
                    [inRequired]="true"
                    [field]="'type'"
                    [label]="'Type'"
                    [options]="types"></in-input>
        </div>

        <div class="InForm-item">
          <in-input type="number"
                    ngControl="statusCode"
                    [(ngModel)]="rule.statusCode"
                    [inRequired]="true"
                    [field]="'statusCode'"
                    [label]="'Status Code'"></in-input>
        </div>

        <div class="InForm-item">
          <in-input type="multiKeyValue"
                    ngControl="headers"
                    [(ngModel)]="rule.headers"
                    [field]="'headers'"
                    [label]="'Headers'"></in-input>
        </div>


        <div class="InForm-item">
          <in-input type="number"
                    ngControl="latency"
                    [(ngModel)]="rule.latency"
                    [field]="'latency'"
                    [label]="'Latency'"></in-input>
        </div>
      </div>

      <div class="InForm-buttons">
        <button class="InButton InButton--positive InForm-button"
                [class.is-disabled]="!ruleDetailsForm.valid"
                type="submit"
                [disabled]="!ruleDetailsForm.valid">{{ isNew ? 'Create' : 'Save' }}</button>
        <button class="InButton InButton--negative InForm-button"
                type="button"
                *ngIf="!isNew"
                (click)="onDelete()">Delete</button>
      </div>
    </form>
  </in-card>
</div>
