<div class="InGrid">
  <in-card [heading]="'Proxy Server Settings'"
           [messages]="proxySettingsMessages"
           class="InGrid-item">
    <form *ngIf="proxySettingsResolved"
          (ngSubmit)="onSubmitProxySettings(proxySettingsForm)"
          #proxySettingsForm="ngForm">
      <div class="InForm-item">
        <in-input type="number"
                  ngControl="port"
                  [(ngModel)]="proxySettings.port"
                  [field]="'port'"
                  [label]="'Port'"></in-input>
      </div>

      <div class="InForm-buttons">
        <button class="InButton InButton--positive InForm-button" type="submit">Save</button>
      </div>

      <p *ngIf="proxySettingsSubmitting">Submitting...</p>
    </form>
  </in-card>

  <in-card [heading]="'Proxy Target Settings'"
           [messages]="targetHostSettingsMessages"
           class="InGrid-item">
    <form *ngIf="targetHostSettingsResolved"
          (ngSubmit)="onSubmitTargetHostSettings(targetHostSettingsForm)"
          #targetHostSettingsForm="ngForm">
      <div class="InForm-item">
        <in-input type="text"
                  ngControl="hostname"
                  [(ngModel)]="targetHostSettings.hostname"
                  [field]="'hostname'"
                  [label]="'Hostname'"></in-input>
      </div>

      <div class="InForm-item">
        <in-input type="number"
                  ngControl="port"
                  [(ngModel)]="targetHostSettings.port"
                  [field]="'port'"
                  [label]="'Port'"></in-input>
      </div>

      <div class="InForm-buttons">
        <button class="InButton InButton--positive InForm-button" type="submit">Save</button>
      </div>

      <p *ngIf="targetHostSettingsSubmitting">Submitting...</p>
    </form>
  </in-card>
</div>
