@import '../../../styles/theme';

.InMessage {
  &--form {
    box-shadow: $shadow-light-inset;
    color: $color-text-inverted;
    padding: $grid-size * 2;

    &.InMessage {
      &--success {
        background-color: $color-green;
      }

      &--error {
        background-color: $color-red;
      }
    }
  }

  &--input {
    @include typography-label;
    padding: $grid-size;

    &.InMessage {
      &--success {
        color: $color-green;
      }

      &--error {
        color: $color-red;
      }
    }
  }
}
