@import '../../../styles/theme';

.InRulesList {
  &-container {
    margin: 0 auto;
    max-width: $application-max-width;
    padding: $grid-size * 3;
  }

  &-paragraph {
    @include typography-paragraph;
    color: $color-text;
  }

  &-buttons {
    margin-top: $grid-size * 2;
  }
}
