<div class="InGrid">
  <in-card [heading]="'Rules'"
           *ngIf="rulesResolved"
           class="InGrid-item">
    <in-table *ngIf="rules.length > 0"
              [fields]="rulesFields"
              [data]="rules"
              (rowClick)="navigateToRule($event)"></in-table>
    <div *ngIf="rules.length === 0">
      <p class="InRulesList-paragraph">
        There are currently no rules to show.
      </p>
    </div>
    <button (click)="navigateToRule()">NEW</button>
  </in-card>
</div>
