@import '../../../styles/theme';

$InNavigationBarTile-popup-color: $color-grey-slate;

.InNavigationBarTile {
  align-items: center;
  background-color: $color-sky-blue;
  cursor: pointer;
  display: flex;
  height: 100%;
  justify-content: center;
  position: relative;
  width: 100%;

  &.is-active {
    background-color: $color-deep-sky-blue;
    border-left: $color-cyan 2px solid;
    box-shadow: $shadow-standard-inset;

    .InNavigationBarTile-icon {
      color: $color-text-heading-inverted;
    }
  }

  &:hover,
  &:focus {
    background-color: $color-deep-sky-blue;

    .InNavigationBarTile-icon {
      color: $color-text-heading-inverted;
    }
  }

  &:hover {
    .InNavigationBarTile {
      &-popupContainer {
        left: calc(100% + #{$grid-size});
        transform: translate(0, -50%) scale(1);
      }
    }
  }

  &-icon {
    color: $color-text-inverted;
    display: block;
    height: $grid-size * 4;
    width: $grid-size * 4;
  }

  &-popupContainer {
    left: 100%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: left ease-in-out 100ms, transform ease-in-out 100ms;
  }

  &-popup {
    @include typography-normal;
    background-color: $InNavigationBarTile-popup-color;
    border-radius: $grid-size;
    box-shadow: $shadow-dark;
    color: $color-text-inverted;
    padding: $grid-size;

    &:before {
      border-bottom: $grid-size + 1 transparent solid;
      border-right: $grid-size + 1 $InNavigationBarTile-popup-color solid;
      border-top: $grid-size + 1 transparent solid;
      content: '';
      left: -$grid-size;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
