@import '../../styles/theme';

$InButton-border-width: 1px;

@mixin InButton-state-styles($color) {
  background-color: $color;
  transition: background-color 200ms ease-in-out;

  &:hover,
  &:focus {
    background-color: darken($color, 4);
  }

  &:active {
    background-color: darken($color, 8);
  }
}

.InButton {
  @include InButton-state-styles($color-grey-slate);
  @include typography-button;
  border-radius: $border-radius-standard;
  border-bottom: 2px solid transparentize($color-black, .8);
  box-shadow: $shadow-light;
  color: $color-text-heading-inverted;
  line-height: 1;
  min-width: $grid-size * 16;
  padding: $grid-size $grid-size;

  &-icon {
    display: inline-block;
    height: $grid-size * 2;
    width: $grid-size * 2;
  }

  &--positive {
    @include InButton-state-styles($color-green);
  }

  &--negative {
    @include InButton-state-styles($color-red);
  }

  &--neutral {
    @include InButton-state-styles($color-deep-sky-blue);
  }
}
