@import '../../styles/theme';

.InRequests {
  &-container {
    margin: 0 auto;
    max-width: $application-max-width;
    padding: $grid-size * 3;
  }

  &-filter {
    display: block;
    margin-left: auto;
    max-width: $grid-size * 50;
  }

  &-paragraph {
    @include typography-paragraph;
    color: $color-text;
  }
}
