@import '../../styles/theme';

.InHeaderBar {
  &-container {
    align-items: center;
    background-color: $color-white;
    box-shadow: $shadow-light;
    display: flex;
    height: 100%;
    justify-content: flex-end;
    padding: $grid-size * 3;
    width: 100%;
  }

  &-appName {
    @include typography-title;
    display: inline-block;
    vertical-align: middle;
  }

  &-logo {
    display: inline-block;
    height: $grid-size * 4;
    margin-left: $grid-size;
    vertical-align: middle;
    width: $grid-size * 4;
  }
}
