<div class="InInput-container">
  <label class="InInput-label" [attr.for]="field">{{ label }}</label>
  <div class="InInput-inputGroup">
    <input class="InInput-input" [attr.id]="field" type="text" [(ngModel)]="value" (blur)="onTouched()" />
    <button class="InButton InButton--neutral InInput-button" (click)="fileButtonClick()">
      <in-icon class="InButton-icon" [icon]="'attachFile'"></in-icon>
    </button>
  </div>
</div>
<input class="InInput-filePicker" type="file" (change)="updateFile($event)" (blur)="onTouched()" #fileInput />
